/** @format */

@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  src: local("Monument Extended"),
    url("../../fonts/MonumentExtended-Regular.woff")
      format("woff");
}
@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 800;
  src: local("Monument Extended"),
    url("../../fonts/MonumentExtended-Ultrabold.woff")
      format("woff");
}
@font-face {
  font-family: "Neutral Face";
  font-style: normal;
  font-weight: 400;
  src: local("Neutral Face"),
    url("../../fonts/neutralface-webfont.woff") format("woff");
}
@font-face {
  font-family: "Neutral Face";
  font-style: normal;
  font-weight: 800;
  src: local("Neutral Face"),
    url("../../fonts/neutralface-bold-webfont.woff") format("woff");
}

/* you can download this fonts file in description below */

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: black;
  overflow-x: hidden;
  color: #e7e7e7;
}
::-webkit-scrollbar {
  display: none;
}

.moving-gradient {
  background: linear-gradient(90deg, rgb(73, 73, 251), rgb(118, 5, 255), rgb(252, 0, 248));
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveGradient 3s infinite linear;
}

@keyframes moveGradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
